<%- include('../partials/header') %>

<div class="container d-flex justify-content-center">
    <img src="/images/wb4gbiBanner.png" alt="WB4GBI Banner" class="banner-image">
</div>
<br>
<div class="container text-center">
    <div class="row d-flex justify-content-center">
        <div class="col-xs-12 col-md-4">
            <h1>WB4GBI Admin Login</h1>
            <br>
            <br>
            <form action="/auth/login" method="POST" class="form-media" encType="multipart/form-data">
                <div class="row">
                    <div class="form-group col-xs-4">
                        <input class="form-control" class="" oninput="this.value=this.value.toLowerCase()" type="text" name="username" placeholder="Callsign" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <input class="form-control" type="password" name="password" minlength="6" placeholder="Password" required>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-primary btn-md" class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br>
<script>        
    element.addEventListener('input',function(){this.value=this.value.toLowerCase()});​
</script>


<%- include('../partials/footer') %>