<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WB4GBI</title>
        <link rel="shortcut icon" href="/images/favicon.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/index.css" rel="stylesheet">
        <script language="javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
      </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-orange fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">WB4GBI Repeater System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                <li class="nav-item dropdown nav-item-orange">
                  <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Repeaters
                  </a>
                  <ul class="dropdown-menu active" aria-labelledby="navbarDropdownMenuLink">
                    <% repeaters.forEach((repeater) => { %>
                      <li><a class="dropdown-item" href="/repeater/<%= repeater.frequency %>"><%= repeater.frequency %></a></li>
                    <% }) %>
                    <% if(currentUser) { %>
                      <hr>
                      <li><a class="dropdown-item" href="/repeater/new">Add Repeater</a></li>
                    <% } %>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" target="_blank" href="/aup">Acceptable Use Policy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br>
        <br>
<div class="container head-room">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" id="flash-message" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" id="flash-message" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>

<script>
  setTimeout(function() { 
      $('#flash-message').fadeOut('fast').empty(); 
  }, 4000); 
</script>