<div class="container d-flex justify-content-center">
    <div class="card" style="width: 500px">
      <div class="card-body legend">
        <h5 class="text-center">Legend</h5>
        <p class="text-center">&lt;h1&gt;Largest Header&lt;/h1&gt;<br/>Headers are 1-6<br/>&lt;h6&gt;Smallest Header&lt;h6&gt;<br/>&lt;p&gt;This is a paragraph. Enter your text here&lt;/p&gt;<br/>&lt;a href=&quot;YourLinkHere.com&quot;&gt;Link Name&lt;/a&gt;</p>
      </div>
    </div>
</div>
<br>